<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375946103982-fk6fl0pr7ljlp6eo6o95cspq9tjq0vgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375946103982-fk6fl0pr7ljlp6eo6o95cspq9tjq0vgj</string>
	<key>API_KEY</key>
	<string>AIzaSyD0fJKB2OLuB_y8jhOp4RForu6f-fXScj8</string>
	<key>GCM_SENDER_ID</key>
	<string>375946103982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasee</string>
	<key>PROJECT_ID</key>
	<string>fir-test-61ede</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-61ede.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375946103982:ios:8c5a82407944bec2cef13f</string>
</dict>
</plist>